.form-position{
	margin-top: 2em;
}

.container {
	margin-top: 1.5em;
}

.bounding-box{
	border-style: solid;
	border-width: 1px;
}

.box-center {
	margin-top: 10%;
}

.display-pie {
	width: 400px;
	height: 400px;
	margin: auto;
}